.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.tabButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 5px;
}

.tabButtons button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background-color: #F2F2F2;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 4px;
  max-height: 50px;
}

.activeTab {
  background-color: #fff;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}


.modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 450px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.3s ease-out;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.inputGroup {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.25rem;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.buttonGroup button {
  width: 120px;
  text-align: center;
}

.phone {
  margin-top: 15px;
}

.nextBtn, .saveBtn {
  background-color: #017cbf;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nextBtn:hover {
  background-color: #0173b1;
}

.saveBtn {
  background-color: #5B913B;
}

.saveBtn:hover {
  background-color: #3E7B27;
}

.cancelBtn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cancelBtn:hover {
  background-color: #c82333;
}

/* Responsive styles */
@media (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 1.5rem;
  }

  .input {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .saveBtn,
  .cancelBtn {
    width: 100%;
    justify-content: center;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: stretch;
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  min-width: 280px;
  padding: 16px 24px;
  color: white;
  border-radius: 6px;
  opacity: 0;
  animation: fadeInOut 3s forwards;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 9999;
  pointer-events: none; /* чтобы не мешать кликам */
}

.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

.toast.info {
  background-color: #2196f3;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
